body{
    font-family: 'Poppins', sans-serif;
}
.container {
    margin-bottom: 60px;
}
.nav-right{
    width: 100%;
}
.navbar-nav a{
    margin: 0 16px;
    font-weight: 500;
    color: #000 !important;
}
#signin {
    padding: 10px 18px;
    border-radius: 33px;
    background-color: #21B573;
    color: #fff !important;
}
.navbar {
    padding-top: 30px;
}
.navbar-brand img {
    width: 200px;
    height: 60px;
}
.banner-area {
    margin-top: -60px;
}
.header-area, .banner-area{
    background-color: #F0FFF0;
}
.banner-area h5{
    font-size: 16px;
    color:#FD511A;
}
.banner-area h2{
    font-size: 48px;
    font-weight: bolder;
    line-height: 70px;
}
.banner-area span{
    color:#21B573;
}
.banner-area p{
    color:#6C6B6B;
    font-size: 16px;
    line-height: 40px;
}
.banner {
    height: 576px;
}
.get-start-btn {
    background-color: #21B573;
    padding: 7px 20px;
    border-radius: 33px;
    color: #fff;
    border: none;
}
.scl-specs {
    margin-top: 50px;
}
.scl-specs img{
    width: 80px;
    height: 85px;
}
.scl-specs .card {
    padding: 40px;
    background-color: #F8FFFB;
    border-radius: 10px;
    border:none;
    
}
.scl-specs .card:hover {
    background-color: #fff;
    box-shadow: 5px 5px 10px lightgrey;
    transition: 0.8s ease;

}
.scl-specs .card h5{
    font-size: 18px;
    font-weight: bold;
    color:#413960;
}
.scl-specs .card p{
    color: #585859;
}

.title{
    color: #413960;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 5%;
}
.sub {
    padding: 18px;
}
.online-course .card {
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
.card-footer {
    background-color: #fff;
    border: none;
}
.icons {
    width: 24px;
}
.reviewer {
    width: 120px;
}
.footer-area {
    background-color: #282531;
    padding: 40px 0;
}
.footer-area p{
    color: #fff;
}


.footer-title {
    color: #fff;
}
ul li a {
    color: #fff;
    list-style: none;
}
ul li a:hover{
    text-decoration: none;
    color: grey;
}

.footer-logo {
    margin: 10px;
}
.copyright {
    color: #fff;
    font-size: 10px;
}
footer{
    background-color: #282531;
    margin-top: -60px;
}